Bin
*.suo
*.user
*.opensdf
*.sdf
*.ipch
*.pyc
*.py~
*.bz2
Redist/Output*
Redist/Install/obj*
Redist/build.*
Redist/Install/Fragments/RedistFragments.wxs
Redist/*-src
*.bak
Temp
Build
Redist/Final
Redist/compile.log
Redist/OpenNI-*
Source/Documentation/html
Source/Documentation/java
Source/Documentation/xml
OpenNI.xcodeproj
.vs/OpenNI/v16/Browse.VC.db
.vs/OpenNI/v16/Solution.VC.db
Samples/ClosestPointViewer/ClosestPointViewer.vcxproj
Samples/EventBasedRead/EventBasedRead.vcxproj
Samples/MultiDepthViewer/MultiDepthViewer.vcxproj
Samples/MultipleStreamRead/MultipleStreamRead.vcxproj
Samples/MWClosestPoint/MWClosestPoint.vcxproj
Samples/MWClosestPointApp/MWClosestPointApp.vcxproj
Samples/SimpleRead/SimpleRead.vcxproj
Samples/SimpleViewer/SimpleViewer.vcxproj
Source/Core/OpenNI.vcxproj
Source/DepthUtils/DepthUtils.vcxproj
Source/Drivers/DummyDevice/DummyDevice.vcxproj
Source/Drivers/Kinect/Kinect.vcxproj
Source/Drivers/OniFile/OniFile.vcxproj
Source/Drivers/PS1080/PS1080.vcxproj
Source/Drivers/PS1080/PS1080Console/PS1080Console.vcxproj
Source/Drivers/PSLink/PSLink.vcxproj
Source/Drivers/PSLink/PSLinkConsole/PSLinkConsole.vcxproj
Source/Drivers/TestDevice/TestDevice.vcxproj
Source/Resources/OpenNI.aps
Source/Tools/NiViewer/NiViewer.vcxproj
ThirdParty/PSCommon/XnLib/Source/XnLib.vcxproj
UpgradeLog.htm
Wrappers/java/jni/OpenNI.jni.vcxproj
